<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le Petit Marchand de La Loupe{% endblock %}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ asset('bundles/marchand/css/style.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <main class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
