{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau fruit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" class="btn btn-default"/>
    {{ form_end(form) }}
<br>
    <ul>
        <li>
            <a href="{{ path('achat_index_marchand') }}" class="btn btn-default mybtn">Retour à l'inventaire</a>
        </li>
    </ul>
{% endblock %}
